<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="../../assets/images/Logo.png" width="30" height="30" class="d-inline-block align-top" alt=""> Expense Tracker
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="['dashboard']" routerLinkActive="router-link-active">Dashboard</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Expenses
        </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" [routerLink]="['addExpense']"> <i class="fa fa-plus-square">
                Add New Expense</i></a>
                        </li>
                        <li>
                            <a class="dropdown-item" [routerLink]="['viewExpense']"> <i class="fa fa-eye"></i> View Expenses</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"> <i class="fa fa-file"></i> Report</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right ml-auto">
                <li class="nav-item">

                    <a class="nav-link" href='' (click)="Logout()"> <i class="fa fa-sign-out" aria-hidden="true"></i> Log out</a>

                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>